p, a {
  font-family: 'Oxygen', sans-serif;
  color: #6B6C72; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000000; }

h2 {
  font-size: 1.5rem;
  color: #6B6C72; }

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #6B6C72; }

h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #6B6C72; }

h5 {
  font-size: .75rem;
  text-transform: uppercase;
  color: #6B6C72; }

h6 {
  font-size: 1rem;
  font-weight: bold;
  color: #000000; }

a {
  text-decoration: none;
  color: #108000; }

button {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  border: 1px solid #108000;
  border-radius: 3px;
  padding: .5rem 1rem;
  color: #108000; }
  button:hover {
    background-color: #108000;
    color: white; }

/* Add a white background color to the top navigation */
.topnav {
  background-color: #FFFFFF;
  overflow: hidden; }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #6B6C72;
  text-align: center;
  padding: .75rem 1rem;
  font-size: 1rem; }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none; }

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden; }

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  color: #6B6C72;
  padding: .75rem 1rem;
  background-color: inherit;
  margin: 0; }

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  z-index: 1; }

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #6B6C72;
  padding: .75rem 1rem;
  display: block;
  text-align: left; }
  .dropdown-content a:hover {
    background-color: #E3E5E8;
    color: black; }

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block; }

.container {
  margin: 1rem 1rem; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

header {
  background-color: #E3E5E8;
  padding: 1rem; }
  header h1 {
    margin-bottom: .1rem; }

/* styling on main energy type grid with H3 and transparent overlay */
.energy-card {
  margin: 0 1rem 1rem 0; }
  .energy-card h3 {
    color: #000000; }

div.overlay {
  margin-top: -5rem;
  padding: .5rem;
  background-color: #FFFFFF;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */ }

/* styling on footer */
footer {
  background-color: #E3E5E8; }
  footer a {
    color: #6B6C72; }

@media screen and (max-width: 600px) {
  /* Hide top nav except for logo and hamburger icon */
  .topnav a:not(:first-child) {
    display: none; }

  .topnav div {
    display: none; }

  .topnav a.logo {
    float: left;
    display: block; }

  .topnav a.icon {
    float: right;
    display: block; }

  /* Responsive variation for top nav */
  .topnav.responsive {
    position: relative; }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }

  .topnav.responsive div:hover {
    display: block; }

  .topnav.responsive .dropdown {
    float: none;
    display: block; }

  .topnav.responsive .dropdown-content {
    position: relative; }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left; } }

/*# sourceMappingURL=stylesheet.css.map */